@charset "ISO-8859-1";

.left {
	float: left;
}

.right {
	float: right;
}

.content-wrapper .container {
	margin: 10px;
	padding: 10px;
	width: 98%;
	height: 98%;
	background-color: #FFFFFF !important;
}

.content-wrapper .container button {
	height: 38px;
}

.content-wrapper label {
	font-size: 14pt;
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 0px;
}

.content-wrapper select, .content-wrapper input {
	font-size: 14pt;
	height: 36px;
}

.content-wrapper thead .search {
	border: 0px solid white;
	background: transparent;
	font-size: 13pt;
	height: 21px;
	width: 100%;
}

.content-wrapper thead {
	font-size: 13pt;
}

.content-wrapper tbody {
	font-size: 12pt;
}

@media (max-width: 780px) {

	.content-wrapper label {
		font-size: 12pt;
		margin: 0px;
	}

	.content-wrapper, button {
		margin-top: 20px;
		padding: 10px;
		width: 100%;
	}
	
	.content-wrapper button {
		text-align: center;
	}

	.content-wrapper thead .search {
		border: 0px solid white;
		background: transparent;
		font-size: 11pt;
		height: 19px;
		width: 100%;
	}

    .content-wrapper thead {
		font-size: 11pt;
	}

	.content-wrapper tbody {
		font-size: 10pt;
	}
}
/* GRUPOS */
.placeholders {
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: 8pt;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}