@charset "ISO-8859-1";
/*
.content-wrapper .add-btn {
	margin: 5px;
	padding: 10px;
	float: right;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: #1784c7;
}
.content-wrapper .add-btn a {
	text-decoration: none;
	text-align: center;
	position: relative;
	top: -8px;
	left: 3px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
}
.content-wrapper .add-btn a:hover {
	text-decoration: none;
	color: #fff;			
}
*/
.left {
	float: left;
}

.right {
	float: right;
}

.content-wrapper .container {
	margin: 10px;
	padding: 10px;
	width: 98%;
	height: 98%;
	background-color: #FFFFFF !important;
}

.content-wrapper .container button {
	height: 38px;
}

.content-wrapper label {
	font-size: 14pt;
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 0px;
}

.content-wrapper select, .content-wrapper input {
	font-size: 14pt;
	height: 36px;
}

.content-wrapper thead {
	font-size: 13pt;
}

.content-wrapper tbody {
	font-size: 12pt;
}

@media (max-width: 780px) {

	.content-wrapper, button {
		margin-top: 20px;
		padding: 10px;
		width: 100%;
	}
	
	.content-wrapper button {
		text-align: center;
	}

    .content-wrapper thead {
		font-size: 11pt;
	}

	.content-wrapper tbody {
		font-size: 10pt;
	}
}
/* GRUPOS */
.placeholders {
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: 8pt;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}