<div class="container">
	<form class="form-inline">
		<div class="form-group">
			<a href="#!/aluno/list" class="btn btn-lg btn-primary disabled">Voltar</a> | 
			<a href="#!/aluno/new" class="btn btn-lg btn-primary">Novo</a>
			<label for="title" class="control-label">ALUNOS</label>
		</div>
	</form>
	<table class="table table-sm table-striped table-hover">
		<thead class="thead-light">
		    <tr>
		      <th scope="col" style="width:100px"><input type="text" name="search" class="search" ng-model="aluno.rgm" placeholder="RGM"></th>
		      <th scope="col"><input type="text" name="search" class="search" ng-model="aluno.nome" placeholder="Aluno"></th>
		      <th scope="col">Turma</th>
		      <th scope="col">Período</th>
		      <th scope="col" style="width:100px">Controle</th>
		    </tr>
		</thead>
		<tbody>
	    	<tr ng-repeat="aluno in alunos | filter:aluno">
	    		<td>{{ aluno.rgm }}</td>
	    		<td>{{ aluno.nome }}</td>
	    		<td>{{ aluno.turma }}</td>
	    		<td>{{ aluno.periodo }}</td>
		    	<td>
		      		<a href="#!/aluno/edit/{{ aluno.rgm }}" class="btn btn-sm btn-primary">Editar</a>
			  		<a href="#!/" class="btn btn-sm btn-primary">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>