<div class="container">
	<form class="form-inline">
		<div class="form-group">
			<a href="#!/atividade/list" class="btn btn-lg btn-primary disabled">Voltar</a> | 
			<a href="#!/atividade/new" class="btn btn-lg btn-primary">Novo</a>
			<label for="title" class="control-label">ATIVIDADES</label>
		</div>
	</form>
	<table class="table table-sm table-striped table-hover">
		<thead class="thead-light">
		    <tr>
		    	<th scope="col">Data</th>
			    <th scope="col">Entrega</th>
			    <th scope="col"><input type="text" name="search" class="search" ng-model="atividade.nome" placeholder="Atividade"></th>
			    <th scope="col">Curso</th>
			    <th scope="col">Turma</th>
			    <!-- <th scope="col">Situação</th> -->
			    <th scope="col" style="width:100px">Controle</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="atividade in atividades | filter:atividade">
			   	<td>{{ atividade.data }}</td>
			   	<td>{{ atividade.entrega }}</td>
			   	<td>{{ atividade.nome }}</td>
			   	<td>{{ atividade.curso }}</td>
			   	<td>{{ atividade.turma }}</td>
			   	<!-- <td>Finalizado</td> -->
		    	<td>
		      		<a href="#!/atividade/edit/{{ $index }}" class="btn btn-sm btn-primary">Editar</a>
			  		<a href="#!/" class="btn btn-sm btn-primary">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>