<div class="container">
	<form class="form-inline">
		<div class="form-group">
			<a href="#!/grupo/list" class="btn btn-lg btn-primary disabled">Voltar</a> | 
			<a href="#!/grupo/new" class="btn btn-lg btn-primary">Novo</a>
			<label for="title" class="control-label">GRUPOS</label>
		</div>
	</form>
	<table class="table table-sm table-striped table-hover">
		<thead class="thead-light">
		    <tr>
		    	<th scope="col"><input type="text" name="search" class="search" ng-model="grupo.nome" placeholder="Grupo"></th>
		    	<th scope="col">Integrantes</th>
		    	<th scope="col" style="width:100px">Controle</th>
		    </tr>
		</thead>
		<tbody>
	    	<tr ng-repeat="grupo in grupos | filter:grupo">
				<td>{{ grupo.nome }}</td>
				<td>{{ grupo.qtde }}</td>
				<td>
					<a href="#!/grupo/edit/{{ $index }}" class="btn btn-sm btn-primary">Editar</a>
					<a href="#!/" class="btn btn-sm btn-primary">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>