<div class="container">
	<form novalidate class="form-inline">
		<div class="form-group">
			<a href="#!/atividade/list" class="btn btn-lg btn-primary">Voltar</a> | 
			<a href="#!/atividade/new" class="btn btn-lg btn-primary disabled">Novo</a>
			<label for="title" class="control-label">CADASTRAR ATIVIDADE</label>
		</div>
	</form>
	<form name="frmAtividade" novalidate>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm-3" ng-class="{ 'was-validated' : frmAtividade.date.$invalid && !frmAtividade.date.$pristine }">
				<label for="date" class="control-label">Data:</label>
				<input type="date" name="date" placeholder="Data" class="form-control" 
				required ng-model="date"/>
				<div class="invalid-tooltip">
					<p ng-show="frmAtividade.date.$dirty && frmAtividade.date.$error.required">Data obrigatória</p>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<div class="form-check">
					<input type="checkbox" name="date-able" class="form-check-input"
					ng-model="dateAble"/>
					<label for="date-end">Entrega</label>
				</div>
				<input type="date" name="date-end" placeholder="Entrega" class="form-control"
				ng-model="dateEnd" ng-disabled="frmAtividade.date.$invalid || !dateAble" min="{{ date | date:'yyyy-MM-dd' }}" />
			</div>
			<div class="form-group col-sm">
				<label for="curso" class="control-label">Curso:</label>
				<select name="curso" class="form-control" ng-model="curso" ng-options="c.nome group by 'Itens:' for c in cursos"></select>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm">
				<label for="disciplina" class="control-label">Disciplina:</label>
				<select name="disciplina" class="form-control" ng-model="disciplina" ng-options="d.nome group by 'Itens:' for d in disciplinas"></select>
			</div>
			<div class="form-group col-lg-4">
				<fieldset name="" ng-init="opt = 1">
					<legend>Trabalho:</legend>
					<label class="radio-inline"><input type="radio" ng-model="opt" name="opt" value="1">Individual</label>
					<label class="radio-inline"><input type="radio" ng-model="opt" name="opt" value="2">Grupo</label>
				</fieldset>
			</div>
			<div class="form-group col-lg-2">
				<label for="grp-qtde" class="control-label">Qtde:</label>
				<input type="number" name="grp-qtde" min="2" max="25" ng-disabled="opt != 2" placeholder="Qtde." class="form-control"
				ng-model="grpQtde" />
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm-6" ng-class="{ 'was-validated' : frmAtividade.name.$invalid && !frmAtividade.name.$pristine }">
				<label for="name" class="control-label">Atividade:</label>
				<input type="text" name="name" placeholder="Nome da Atividade" class="form-control"
				required ng-model="name" maxlength="50" />
				<div class="invalid-tooltip">
					<p ng-show="frmAtividade.name.$dirty && frmAtividade.name.$error.required">Nome obrigatório</p>
				</div>
			</div>
			<div class="form-group col-sm">
				<label for="file" class="control-label">Anexar:</label>
				<input type="file" name="file" ng-model="file" class="form-control-file" accept="application/pdf"/>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col">
				<label for="desc" class="control-label">Descrição:</label>
				<textarea name="obs" ng-model="obs" rows="5" placeholder="..." class="form-control rounded-0"></textarea>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col">
				<button class="btn btn-lg btn-primary right" ng-click="reset();" type="reset">Limpar</button>
			</div>
			<div class="form-group col">
				<button class="btn btn-lg btn-primary left" ng-click="salvar();" ng-disabled="frmAtividade.$invalid" type="submit">Cadastrar</button>
			</div>
		</div>	
	</form>
</div>