<div class="container">
	<form novalidate class="form-inline">
		<div class="form-group">
			<a href="#!/grupo/list" class="btn btn-lg btn-primary">Voltar</a> | 
			<a href="#!/grupo/new" class="btn btn-lg btn-primary disabled">Novo</a>
			<label for="title" class="control-label">CADASTRAR GRUPO</label>
		</div>
	</form>
	<form name="frmGroup" novalidate>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm-2">
				<label for="qtde" class="control-label">Quantidade:</label>
				<input type="text" name="qtde" ng-model="qtde" nim="2" max="25" placeholder="Qtde." readonly class="form-control" />
			</div>
			<div class="form-group col" ng-class="{ 'was-validated' : frmGroup.name.$invalid && !frmGroup.name.$pristine }">
				<label for="name" class="control-label">Grupo:</label>
				<input type="text" name="name" placeholder="Nome completo" class="form-control"
				required ng-model="name" maxlength="25" />
				<div class="invalid-tooltip">
					<p ng-show="frmGroup.name.$dirty && frmGroup.name.$error.required">Nome de grupo obrigatório</p>
				</div>
			</div>
		</div>
		<div class="form-row justify-content-around placeholders">
			<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
		</div>
		<div class="form-row justify-content-around placeholders">
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
		</div>
		<div class="form-row justify-content-around placeholders">
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
           	<div class="col-xs-2 col-1 placeholder">
           		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive" alt="thumbnail">
           		<h4>Aluno</h4>
           		<span class="text-muted">00000000</span>
           	</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col">
				<button class="btn btn-lg btn-primary right" ng-click="reset();" type="reset">Limpar</button>
			</div>
			<div class="form-group col">
				<button class="btn btn-lg btn-primary left" ng-click="salvar();" ng-disabled="frmGroup.$invalid" type="submit">Cadastrar</button>
			</div>
		</div>	
	</form>
</div>