<div class="container">
	<form novalidate class="form-inline">
		<div class="form-group">
			<a href="#!/professor/list" class="btn btn-lg btn-primary">Voltar</a> | 
			<a href="#!/professor/new" class="btn btn-lg btn-primary disabled">Novo</a>
			<label for="title" class="control-label">CADASTRAR PROFESSOR</label>
		</div>
	</form>
	<form name="frmProf" novalidate>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm-4" ng-class="{ 'was-validated' : frmProf.rgm.$invalid && !frmProf.rgm.$pristine }">
				<label for="rgm" class="control-label">Registro:</label>
				<input type="text" name="rgm" placeholder="Nº de Registro" class="form-control" required
				ng-model="rgm" minlength="8" maxlength="8" />
				<div class="invalid-tooltip">
					<p ng-show="frmProf.rgm.$dirty && frmProf.rgm.$error.required">Registro obrigatório</p>
					<p ng-show="frmProf.rgm.$error.minlength">Pouco</p>
				</div>
			</div>
			<div class="form-group col-sm" ng-class="{ 'was-validated' : frmProf.name.$invalid && !frmProf.name.$pristine }">
				<label for="name" class="control-label">Nome:</label>
				<input type="text" name="name" placeholder="Nome completo" class="form-control" required
				ng-model="name" maxlength="50" />
				<div class="invalid-tooltip">
					<p ng-show="frmProf.name.$dirty && frmProf.name.$error.required">Nome obrigatório</p>
				</div>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col-sm-6" ng-class="{ 'was-validated' : frmProf.email.$invalid && !frmProf.email.$pristine }">
				<label for="email" class="control-label">Email:</label>
				<input type="email" name="email" placeholder="exemplo@dominio.com.br" class="form-control" required
				ng-model="email" maxlength="50" />
				<div class="invalid-tooltip">
					<p ng-show="frmProf.email.$dirty && frmProf.email.$error.required">Email obrigatório</p>
					<p ng-show="frmProf.email.$invalid && !frmProf.email.$error.required">Email inválido</p>
				</div>
			</div>
			<div class="form-group col-sm">
				<label for="type" class="control-label">Nível de acesso:</label>
				<select name="type" class="form-control" ng-model="type" ng-options="t.nome group by 'Itens:' for t in types"></select>
			</div>
		</div>
		<div class="form-row justify-content-start">
			<div class="form-group col-sm-3 col-md-3" ng-class="{ 'was-validated' : frmProf.pwd.$invalid && !frmProf.pwd	.$pristine }">
				<label for="pwd" class="control-label">Senha:</label>
				<input type="password" name="pwd" minlength="8" maxlength="20" placeholder="Senha" class="form-control" required
				ng-model="pwd"/>
				<div class="invalid-tooltip">
					<p ng-show="frmProf.pwd.$dirty && frmProf.pwd.$error.required">Senha obrigatório</p>
					<p ng-show="frmProf.pwd.$error.minlength">Pouco</p>
				</div>
			</div>
			<div class="form-group col-sm-3 col-md-3" ng-class="{ 'was-validated' : frmProf.pwdretype.$invalid && !frmProf.pwdretype.$pristine }">
				<label for="pwdretype" class="control-label">Confirmar:</label>
				<input type="password" name="pwdretype" minlength="8" maxlength="20" placeholder="Confirmar senha" class="form-control" required
				ng-model="pwdretype" compare-to="pwd"/>
				<div class="invalid-tooltip">
					<p ng-show="frmProf.pwdretype.$dirty && frmProf.pwdretype.$error.required">Senha obrigatório</p>
					<p ng-show="frmProf.pwdretype.$error.minlength">Pouco</p>
				</div>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="form-group col">
				<button class="btn btn-lg btn-primary right" ng-click="reset();" type="reset">Limpar</button>
			</div>
			<div class="form-group col">
				<button class="btn btn-lg btn-primary left" ng-click="salvar();" ng-disabled="frmProf.$invalid" type="submit">Cadastrar</button>
			</div>
		</div>	
	</form>
</div>